<!DOCTYPE html>
<html>
<head>
	<title>Document</title>
</head>
<body>
	<h1>Vigilante da Floresta</h1>

	<img src="assets/vigilantes.png">

	<p>O desmatamento refere-se à eliminação total ou parcial de qualquer tipo <br>
	de cobertura vegetal. Atualmente, é considerado um dos maiores problemas   <br>
	ambientais. O Brasil sofre com elevadas taxas de desmatamento oriundas de  <br>
	atividades agrícolas, urbanização e exploração comercial de madeira.	   <br>
	<br>
	Em 2020 está sendo marcado pelo alto índice de desmatamento aliado a <br>
	negligencia política.  
	</p>

	<h2>O jogo</h2>
	<p>Baseado no cenário descrito acima, o jogo basicamente consiste em apagar os incêndios que surgem na floresta e acumular pontos. Existem dois tipos de incêndio e dois tipos de pontuação:</p>
	<ul>
		<li>Fogo comum: Aparecem constantemente e apagá-los gera uma recompensa de 10 pontos, caso contrário perde uma vida ou uma árvore :(</li>
		
		<li>Caveiras de Fogo: Aparecem constantemente porém menos que os fogos comum. Apagá-los gera uma recompensa de 20 pontos, caso contrário perde duas vidas ou duas árvores :( :(</li>
	</ul>


</body>
</html>