<!DOCTYPE html>
<html>
<head>
	<title>Sobre o Jogo</title>
</head>
<body>
	<style>
		body{
			background-color:#2F4F4F;
			text-align: center;
			font-size: large;
			font-weight: bolder;
			}
	
	</style>
	<h1>Vigilante da Floresta</h1>
	<img src="img/vigilantes.png">
	<p>O desmatamento refere-se à eliminação total ou parcial de qualquer tipo
	de cobertura vegetal. Atualmente, é considerado um dos maiores problemas  
	ambientais. O Brasil sofre com elevadas taxas de desmatamento oriundas de 
	atividades agrícolas, urbanização e exploração comercial de madeira. Em 2020
	está sendo marcado pelo alto índice de desmatamento aliado a negligencia política.  
	</p>
	<h1>O jogo</h1>
	Baseado no cenário descrito acima, o jogo basicamente consiste em apagar os incêndios que surgem na floresta e acumular pontos. Existem dois tipos de incêndio e dois tipos de pontuação.
	O fogo comum aparece constantemente e apagá-los gera uma recompensa de 10 pontos, caso contrário perde uma vida ou uma árvore. Caveiras de Fogo aparecem constantemente porém menos que 
	os fogos comum. Apagá-los gera uma recompensa de 20 pontos, caso contrário perde duas vidas ou duas árvores.

</body>
</html>