{{!-- <style>
    #score{
        border: 5px solid #000;
    }
</style> --}}


<div id="cabecaGame"></div>

<link rel="stylesheet" href="css/styles.css">

<div id="jogo"></div>

<script src="js/script.js"></script>