body{
	background: black;
}


h1{
    font-size: 22px;
    color: blue;
    text-align: center;

}

#fundo{
    background-image:url("exercicio4.jpeg");
    border: 5px solid blue;
    position: absolute;
    left: 10%;
    top: 0;
    width: 80%;
    height: 100%;
}


#paragrafo{
    color: cornsilk;
    font-size: large;
    font-family: serif;
    border: 5px solid blue;
    background: black;
    width: 660px;
    height: 220px;
    border-style: groove;
    position: absolute;
    left: 7%;
    top: 20%;
}

#faixasM{
    color: cornsilk;
    font-size: large;
    font-family: serif;
    background: black;
    border: 5px solid blue;
    border-style: groove;
    position:absolute;
    right: 7%;
    top: 20%;

}
